<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GVConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true"/>
  </appSettings>
    <userSettings>
        <GVConverter.Properties.Settings>
            <setting name="converterPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="layoutEngine" serializeAs="String">
                <value>nop</value>
            </setting>
            <setting name="outputFormat" serializeAs="String">
                <value>png</value>
            </setting>
            <setting name="addDotFileOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="addRecursively" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="excludeDuplicate" serializeAs="String">
                <value>False</value>
            </setting>
        </GVConverter.Properties.Settings>
    </userSettings>
</configuration>
